#### RULES move to /etc/udev/rules.d
#
# 1) swap out MA:C :AD:DREss for the mac address, use enp0s31f6 or whatever
#
# to reload rules:
#   sudo udevadm control --reload-rules
#   sudo udevadm trigger
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="MA:C :AD:DR:ES:S ", NAME="eth0"

# vim:ft=udevrules
