snippet c_template "Template for New C File" !b
/** file:       ${1:main}.c
  * modified:   ${2:DATE}
  * author:     ${3:AUTHOR}
  */

// __ Includes ______________________________________________________
#include "$1.h"

// __ Private typedef _______________________________________________
// __ Private define ________________________________________________
// __ Private macro _________________________________________________
// __ Private variables _____________________________________________
// __ Private function prototypes ___________________________________
// __ Private functions _____________________________________________
// __ Public function _______________________________________________

// vim:shiftwidth=2
endsnippet

snippet func "Function Dec and Function" !b
${2:void} ${1:function_name} (${3:void});
  /* @brief ${4:short description}
  * @param  ${5:None}
  * @retval ${6:None}
  */

$2 $1 ($3) {
    ${7:// function code}
}

endsnippet
