snippet h_template "Template for new header file" !b
/** file:       ${1:main}.h
  * modified:   ${2:DATE}
  * author:     ${3:AUTHOR}
  */

#ifndef __$1_H__
#define __$1_H__


#endif /* end of include guard: __$1_H__ */
// vim:shiftwidth=2
endsnippet
