snippet hstart "Template for new header file" !b
/** file:       ${1:`!p snip.rv = snip.fn`}
  * modified:   ${2:`!p import time
snip.rv = time.strftime("%Y-%m-%d %H:%M:%S")
  `}
  * author:     ${3:<<AUTHOR>>}
  */

#ifndef __${4:`!p
if not snip.c:
	import string
	name = re.sub(r'[^A-Za-z0-9]+','_', snip.fn).upper()
	snip.rv = '{0}'.format(name)
else:
    snip.rv = snip.c`}__
#define __$4__

// __ Includes ______________________________________________________
// __ Typedef _______________________________________________________
// __ Define ________________________________________________________
// __ Macro _________________________________________________________
// __ Variables _____________________________________________________
// __ Function prototypes ___________________________________________

${0}

#endif /* end of include guard: __$4__ */
// vim:shiftwidth=2
endsnippet
