snippet future "from __future__ imports" !b
from __future__ import print_function
from __future__ import division
from __future__ import absolute_import
from __future__ import unicode_literals
from future_builtins import (ascii, filter, hex, map, oct, zip)

endsnippet

snippet lud "lookup dictionary" !b
0x${1:1} : "${2:string}",
endsnippet
